
/*---GRID---*/
.g-parent__container {
  display: grid;
  grid: 
  "header"  auto
  "content" auto
  "footer"  auto
  /  minmax(320px, 768px); 
  justify-content: center;
  background-color: aqua;
}
.g-parent-g-chd__header  { grid-area: header; }
.g-parent-g-chd__content { grid-area: content;}
.g-parent-g-chd__footer  { grid-area: footer; }
/* ===END GRID=== */

/*---STYLE---*/
body {
  margin:  0;
  padding: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.2rem;
  background: rgb(249, 248, 253);
  color: rgb(131, 0, 131);

}
h1 {
  color: rgb(131, 0, 131);
}
h2 {
  font-family: 'Rampart One', cursive;
  padding-left: 10px;
}
hr {
  width: 80%;
  height: 2px;
  border: 2px solid  rgb(131, 0, 131);
}
table {
  text-align: center;
}
td {
  padding-bottom: 15px;
}
th{
  padding-bottom: 20px;
}
article {margin-top: 50px;}
iframe {
  border: none; 
  width: 90%;
  height: 250px;
  border-top: 1px solid grey;
}
.g-parent__container {
  margin-top: 10px;
}
.g-parent-g-chd__content .example-code {
  margin-left: 5%;
}
.f-parent__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}
.flex-parent-f-chd__header {
  flex-basis: 150px;
  flex-grow: 1;
  color: red;
  margin: 20px;
  text-align: center;
}
.f-parent__skillWork,
.f-parent__educationLanguage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.f-parent__footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.about,
.example {
  padding: 20px;
  line-height: 2em;
  
}
.no-mark {
  list-style-type: none; 
}
.list-style-pos {
  list-style-position: outside;
}

.text-center {
  text-align: center;
}
li > a {
 margin-right: 10%;
}
.shadow-stydent,
.shadow-rsschool
 {
  filter: drop-shadow(1px 1px 5px rgba(97, 12, 255, 0.5));
 }
 .shadow-body {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
 }

 .section {
   background-color: rgb(255, 251, 235);;
 }